<div class="flex-grow sticky top-14 z-20 px-4 md:px-8 backdrop-blur-md max-w-3xl">
  <div class="my-4">
    <div class="flex mb-4">
      <div class="flex flex-grow items-center">
        <div class="flex flex-col">
          <h2 class="font-medium text-gray-900 text-lg md:text-2xl mb-0.5 leading-none">Register a device</h2>
        </div>
      </div>
    </div>
  </div>

  <form autocomplete="off" action="/devices" accept-charset="UTF-8" method="post">
    <div class="rounded-xl bg-gray-50 shadow-sm border mb-6 divide-y divide-gray-200">
      <div class="p-6">
        <label for="device_name" class="block text-gray-700 text-md leading-4 font-medium mb-2">Name</label>
        <input type="text" required="true" name="device[name]" id="device_name" value="<%= @device.name %>" class="block mt-2 min-h-12 px-4 rounded-xl text-black bg-white block w-full p-0 outline-none text-sm border border-gray-300 focus:outline-none ring-2 ring-transparent focus:ring-2 ring-offset-gray-200 focus:ring-offset-2 focus:ring-offset-gray-200 focus:ring-blue-500 focus:border-transparent transition duration-150" placeholder="My TRMNL">
      </div>
      <div class="p-6">
        <label for="device_mac_address" class="block text-gray-700 text-md leading-4 font-medium mb-2">Mac Address</label>
        <input autofocus type="text" required="true" name="device[mac_address]" id="device_mac_address" class="block mt-2 min-h-12 px-4 rounded-xl text-black bg-white block w-full p-0 outline-none text-sm border border-gray-300 focus:outline-none ring-2 ring-transparent focus:ring-2 ring-offset-gray-200 focus:ring-offset-2 focus:ring-offset-gray-200 focus:ring-blue-500 focus:border-transparent transition duration-150" placeholder="XX:XX:XX:XX:XX">
      </div>
      <div class="p-6 text-right">
        <input type="submit" name="commit" value="Save" class="cursor-pointer font-medium rounded-lg text-sm px-3 py-2 inline-flex items-center transition duration-150 justify-center shrink-0 gap-1.5 whitespace-nowrap text-white bg-blue-500 hover:bg-blue-600 focus:outline-none">
      </div>
    </div>
  </form>
</div>

