<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="flex-grow top-14 z-20 px-4 md:px-8 backdrop-blur-md max-w-3xl">
    <%= yield %>
  </div>
</body>
</html>